.header {
  background-color: black;
}

.header-links {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.header-button {
  margin-right: 20px;
  color: white;
  font-size: 1.5rem; /* Increase font size */
}

/* Media query to hide header, links, and button on mobile devices */
@media screen and (max-width: 768px) {
  .header,
  .header-links,
  .header-button {
    display: none; /* Hide these elements on screens smaller than 768px */
  }
}
